<!DOCTYPE html>

{% load staticfiles %}

<html>

<head>
	<title>Rango</title>
</head>

<body>
	<h1>This tutorial has been put together by {{ tutcreator }} </h1>
	<div class="">
		Is this the creator of this tutorial? <br />
		 <img src="{% static 'images/george-costanza.jpg' %}"
		      alt="Picture of George Costanza">
	</div>
	<div class="">
		<p> Back to the <a href="/rango/">main page</a>.</p>
	</div>

	<h1>At least some certainty.</h1>
	<div class="">
		<p>This is a cat for sure...</p>

		<img src="{{ MEDIA_URL }}a_cat.jpg"
		     alt="A picture of a grey cat with green eyes.">

	</div>
</body>

</html>


